<!DOCTYPE html>
<html>
<body onKeyDown="pegadirecao(event.keyCode);"> <!--Roda a função "pegadireção" quando uma tecla é pressionada-->

<h2 align="center">SEU NOME AQUI</h2> <!--Alinha no centro da tela a mensagem-->

<div id=principal></div>
<script>
    tabuleiro="<table align=center border=1>"; // Cria um tabuleiro com as dimensões selecionadas em que x é a largura e y é a altura
    for(x=0;x<10;x++){ //Ele começa com um espaço (representado pelo zero) e vai até o valor indicado (como o máximo é 9 e o ponto 0 representa 1 o máximo é 10)
        tabuleiro+="<tr>";
        for(y=0;y<10;y++)
            tabuleiro+="<td id=td"+x+"_"+y+" style='width:30px; height:30px;'> </td>";
        tabuleiro+="</tr>";
    }
    document.getElementById('principal').innerHTML=tabuleiro+"</table>";
    cobra=[[5,0]]; //indica a posição inicial da cobra
    direcao=2; //coloca a direção inicial
    mx=parseInt(Math.random()*10); //cria uma maçã em posição aleatória
    my=parseInt(Math.random()*10);
    vivo=true;
    function anda(){
        document.getElementById('td'+cobra[cobra.length-1][0]+'_'+cobra[cobra.length-1][1]).style.background="#ffffff"; //indica a cobra andando
        if(mx==cobra[cobra.length-1][0]&&my==cobra[cobra.length-1][1]){
            mx=parseInt(Math.random()*10); //recria a maçã depois de comida
            my=parseInt(Math.random()*10);
            cobra[cobra.length]=[10,10]; //aumenta a cobra depois de comer
        }
        for(x=cobra.length-1;x>0;x--){
            cobra[x][0]=cobra[x-1][0];
            cobra[x][1]=cobra[x-1][1];
        }
        if(direcao==0)cobra[0][1]--; //lê a variável "direção" e alinha a cobra para a esquerda
        if(direcao==1)cobra[0][0]--; //lê a variável "direção" e alinha a cobra para cima
        if(direcao==2)cobra[0][1]++; //lê a variável "direção" e alinha a cobra para a direita
        if(direcao==3)cobra[0][0]++; //lê a variável "direção" e alinha a cobra para baixo
        for(x=1;x<cobra.length;x++)if(cobra[0][0]==cobra[x][0]&&cobra[0][1]==cobra[x][1])vivo=false;
        if(cobra[0][0]<0||cobra[0][1]<0||cobra[0][0]>9||cobra[0][1]>9)vivo=false;
        document.getElementById('td'+cobra[0][0]+'_'+cobra[0][1]).style.background="#333333"; //cria a cobra
        document.getElementById('td'+mx+'_'+my).style.background="#ff3333"; //cria a fruta
        if(vivo)setTimeout('anda()',150); //indica o tempo de movimento da cobra
        else alert('Fim de jogo');
    }
    anda();
    function pegadirecao(tecla){ //lê qual tecla foi pressionada e atribui um valor a "direção" referente a tecla
        /*alert(tecla);*/
        if(tecla==37)direcao=0; //tecla da esquerda
        if(tecla==38)direcao=1; //tecla para cima
        if(tecla==39)direcao=2; //tecla para direita
        if(tecla==40)direcao=3; //tecla para baixo
    }
</script>
</body>
</html>